/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jan 29, 2025, 6:45:10 PM
    Author     : jay
*/

section div {
   margin-bottom: 3em;
   margin-top: 3em;
}